@import "../../../../styles/utils/";

.ImagesSlider {
  &__content {
    display: flex;
    gap: 16px;
    height: 300px;
    margin-bottom: 18px;

    @include onTablet {
      height: 400px;
    }
  }

  &__imageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    @include transition;
  }

  &__item {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__button {
    flex-shrink: 0;
    width: 32px;
    height: 100%;
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 14px;
  }

  &__dot {
    width: 14px;
    height: 4px;
    background-color: $gray-elements-color;
    border: 0;
    cursor: pointer;
    @include transition;

    &.is-active {
      background-color: $gray-color;
    }
  }
}
