@import "../../styles/utils";

.Catalog {
  &__counter {
    display: inline-block;
    margin-bottom: 40px;
    color: $gray-secondary-color;
  }

  &__dropdowns {
    margin-bottom: 24px;
    display: flex;
    gap: 16px;

    &:first-child {
      width: 176px;
      margin-right: 40px;
    }

    &:last-child {
      width: 128px;
    }
  }

  &__dropdown {
    &:first-child {
      width: 176px;
    }

    &:last-child {
      width: 128px;
    }
  }
}
