.dropdown {
  position: relative;

  &__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $gray-secondary-color;
  }

  &__trigger {
    height: 40px;
  }

  &__button {
    width: 100%;
    height: 40px;
    padding: 12px;
    display: flex;
    justify-content: space-between;

    &:hover:not(:disabled) {
      border: 1px solid $gray-secondary-color;
    }
  }

  &__icon {
    transition: all 0.3s ease;

    & path {
      fill: $gray-icons-color;
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 20;
    
    width: 100%;
    margin-top: 4px;
    padding: 8px 0;
    
    background-color: $white-color;
    border: 1px solid $gray-elements-color;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);

    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: all 0.2s ease;
  }

  &__item {
    display: block;
    height: max-content;
    padding: 6px 12px;
    color: $gray-secondary-color;
    text-decoration: none;
    @include transition;

    &:hover {
      color: $gray-color;
      background-color: $gray-bg-color;
    }

    &.is-active {
      color: $gray-color;
      background-color: $gray-white;
    }
  }

  &.is-active {
    .dropdown__menu {
      transform: none;
    }
    .dropdown__button:not(:disabled) {
      border: 1px solid $gray-color;
    }
    .dropdown__icon {
      transform: rotate(180deg);
    }
  }
}
