.icon {
  position: relative;
  @include square(16px);
  display: block;
  font-style: normal;
  transition: all 0.3s ease;

  &__counter {
    position: absolute;
    bottom: 8px;
    left: 8px;

    width: max-content;
    min-width: 14px;
    height: 14px;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    border-radius: 50%;
    color: $white-color;
    background-color: $red-color;
    border: 1px solid $white-color;
  }
}
