@import "utils";
@import "fonts";
@import "typography";
@import "blocks";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Mont", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $gray-color;
}

body {
  margin: 0;
  background-color: $white-color;
}

hr {
  margin: 0;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: $gray-elements-color;
}
