@import "../../styles/utils";

.BackButton {
  width: 66px;
  height: 16px;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $gray-secondary-color;
  background-color: $white-color;
  border: 0;
  cursor: pointer;
  @include transition;

  &:hover {
    color: $gray-color;
  }
}
