@import "../../styles/utils";

.ProductsList {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;

  @include onSmartphone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 16px;
  }

  @include onTablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    width: 100%;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onSmartphone {
      margin-bottom: 0;
    }
  }
}
