@import "../../styles/utils";

.CategoriesCards {
  &__header {
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: $gray-color;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;

    @include onSmartphone {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 16px;
      column-gap: 16px;
    }
  }

  &__item {
    margin-bottom: 16px;

    @include onSmartphone {
      margin-bottom: 0;
    }
  }
}
